<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="prjTRKConn" connectionString="Data Source=tcp:iii0.database.windows.net,1433;Initial Catalog=prjTRK;User Id=iii@iii0.database.windows.net;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="prjTRKConnectionString" connectionString="Data Source=tcp:iii0.database.windows.net,1433;Initial Catalog=prjTRK;User Id=iii@iii0.database.windows.net;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
</configuration>