<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iiitrk.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>iiitrk.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>iiiTRK</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$iiiTRK</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:iii0.database.windows.net,1433;Initial Catalog=iiiTRK_db;User ID=iii@iii0;Password=P@ssw0rd" Name="Data Source=tcp:iii0.database.windows.net,1433;Initial Catalog=iiiTRK_db;User Id=iii@iii0;Password=P@ssw0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="JPK_WEB_MVC.Models.ApplicationDbContext, JPK_WEB_MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="prjTRKConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:iii0.database.windows.net,1433;Initial Catalog=iiiTRK_db;User ID=iii@iii0;Password=P@ssw0rd" Name="Data Source=tcp:iii0.database.windows.net,1433;Initial Catalog=iiiTRK_db;User Id=iii@iii0;Password=P@ssw0rd" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=iii0.database.windows.net;Initial Catalog=prjTRK;Persist Security Info=True;User ID=iii;Password=P@ssw0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\prjTRKConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=iii0.database.windows.net;Initial Catalog=prjTRK;Persist Security Info=True;User ID=iii;Password=P@ssw0rd" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:iii0.database.windows.net,1433;Initial Catalog=iiiTRK_db;User Id=iii@iii0;Password=P@ssw0rd</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)prjTRKConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:iii0.database.windows.net,1433;Initial Catalog=iiiTRK_db;User Id=iii@iii0;Password=P@ssw0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>