@model JPK_WEB_MVC.ViewModels.LayerInfoVM
<div class="col-sm-3 sidenav">
    <div class="container">
        <!--東西側選擇-->
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#home">大道東</a></li>
            <li><a data-toggle="pill" href="#menu1">大道西</a></li>
        </ul>
        <!--樓層選擇-->
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>&nbsp;</h3>
                <div class="container">
                    <ul class="nav nav-pills">

                               <li>
                                </li>

                    </ul>
                    <h3>&nbsp;</h3>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                </li>
                            </ul>
                            <br />
                        </div>
                    </div>
                </div>
            </div>

            <div id="menu1" class="tab-pane fade">
                <h3>&nbsp;</h3>
                <div class="container">
                    <ul class="nav nav-pills">
                                <li>
                                </li>
                    </ul>
                    <h3>&nbsp;</h3>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <ul class="nav nav-pills nav-stacked">
                                <li>

                                </li>
                            </ul>
                            <br />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>